<mat-card>
  <mat-spinner *ngIf="estaCarregando"></mat-spinner>
  <form [formGroup]="form" (submit)="onSalvarCliente()"  *ngIf="!estaCarregando">

    <mat-form-field>
      <input
        type="text"
        required
        minlength="3"
        matInput
        placeholder="nome"
        formControlName="nome"
        name="nome">
      <mat-error *ngIf="form.get('nome').invalid">Digite um nome válido</mat-error>
    </mat-form-field>

    <div>
      <button mat-stroked-button type="button" (click)="selecionaArquivo.click()">Selecionar imagem</button>
      <input type="file" (change)="onImagemSelecionada($event)" #selecionaArquivo>
      <div class="imagem-preview">
        <img [src]="previewImagem" *ngIf="previewImagem && previewImagem !== '' && form.get('imagem').valid" [alt]="form.value.nome">
      </div>
    </div>

    <mat-form-field>
      <input
        type="text"
        required
        matInput
        placeholder="fone"
        formControlName="fone"
        name="fone">
      <mat-error *ngIf="form.get('fone').invalid">Digite um telefone válido</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        type="text"
        required
        matInput
        placeholder="email"
        formControlName="email"
        name="email">
        <mat-error *ngIf="form.get('email').invalid">Digite um email válido</mat-error>
    </mat-form-field>

    <button mat-raised-button color="accent">Salvar Cliente</button>
  </form>
</mat-card>
